.App {
  text-align: center;
  cursor: url(images/cursor.png), auto;
  background-image: url("images/background.png");
  background-size: cover;
  /*background-position: center;*/
  overflow: hidden;

  height: 95vh;
}

.fly {
  width: 95px;
  height: 80px;
}
.inline {
  display: inline;
  margin: 30px;
}
