.App {
  text-align: center;
  cursor: url(images/cursor.png), auto;
  background-image: url("images/background.png");
  background-size: cover;
  overflow: hidden;
}

.fly {
  width: 85px;
  height: 70px;
}
